*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    
    align-items: start;
    height: 150px;
    margin-top: 0px;
    margin-left: 5px;
    
    
    
}
.containers{
   
    height: 100vh;
    width: 100%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 5%;
    padding-left: 0%;
    background-color: aliceblue;
}
nav ul li{
list-style-type: none;
display: inline-block;
padding: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
button{
    border: none;
    font-weight: bold;
    display: inline-block;
    font-size: 13px;
    background-color: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.page-footer{
    height: 4rem;
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
#brand, #owner{
    color: #ea1538;
    font-size: 20px;
}

.image{
    height: 17rem;
    width: 90%;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 70px;
    background: rgba(0,0,0,0.4);
}
.value{
    position: absolute;
    top: 35vh;
    margin-left: 28rem;
    font-size: 25px;
    color: white;
}
         /* DAY 2 */

.recipes-head{
    margin-top: 2rem;
    text-decoration: none;
    color: #ea1538;
}


.recipes-head h4{
    font-weight: bold;
    margin: 8px;
    font-size: 25px;
    color: black;
    
}

.recipe-items{
    display: grid;
    margin: 10px;
    font-weight: bold;
    row-gap: 5px;
    text-decoration: none;
    color: #ea1538;

   
    
    
    

}

.recipe-box{
    display: flex;
    margin: 10px;
    padding: 8px;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;

}

.recipe-all{
    margin-top: 1rem;



}
.recipe-images{
    height: 230px;
    width: 330px;
    padding: 8px;
    top: 2rem;
    margin-left: 4rem;
    
    
}

.heading{
    text-decoration: none;
    text-align: center;
    color: #ea1538;
    
}

         /* DAY 2 */



